@import 'colors';

.content_bars {
	width: 80%;
	margin: 0 auto;
	padding: 2em;
  }

.skillbar-wrapper {
	margin: 1.5em auto;
	max-width: 70vw;
	padding-bottom: 2em;
}

.skillbar {
	position:relative;
	margin-bottom: 1em;
	width: 100%;
	background: #eee;
	height: 2em;
	border-radius: 3px;	
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight: bold;
	font-size: 0.75em;
	color: #fff;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	height:35px;
	line-height: 35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height: 35px;
	width: 0%;
	border-radius: 3px;
	transition: 500ms linear;
	transition-property: width, background-color;
}

.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 35px;
	line-height: 35px;
	color: rgba( 0, 0, 0, 0.4 );
	transition: color 500ms ease-out;
}

.complete .skill-bar-percent {
	color: $white;
}

.complete.server .skill-bar-percent {
	color: $darkgrey;
}

.html5 .skillbar-title {
	background: $red;	
}

.html5 .skillbar-bar {
	background: $red;	
}


.css .skillbar-title {
	background: $darkgrey;	
}

.css .skillbar-bar {
	background: $darkgrey;	
}

.javascript .skillbar-title {
	background: $mediumgrey;
}
.javascript .skillbar-bar {
	background: $mediumgrey;
}

.php .skillbar-title {
	background: #FF4D3C;	
}

.php .skillbar-bar {
	background: #FF4D3C;	
}

