// change to column with media query
.three-processes {
	display: flex;
	flex-direction: row;

	@media (max-width: 1000px) {
		flex-direction: column;
	}
}

.processes {
  background-color: $red;
  color: $white;
}

.process {
  margin: 2em;
  color: $white;
}

.processtitle {
	font-family: $title;
	font-size: 1.5em;
  margin-bottom: 0.5em;
  color: $darkgrey;
}
