////////////////// Social section

.icon-big {
  font-size: 3em;
  color: $darkgrey;;
  margin: 1em;

  &:hover {
    color: $red;
  }

  @media (max-width: 870px) {
    font-size: 2em;
    margin: 0.8em;
  }

  @media (max-width: 580px) {
    font-size: 1.6em;
    margin: 0.5em;
  }

  @media (max-width: 380px) {
    font-size: 1.2em;
    margin: 0.3em;
  }

}



.footer {
  background-color: $red;
  color: $white;
  padding: 2em;
  font-size: 0.8em;
}

.copy-social {
  color: $darkgrey;
  font-size: 1em;
  margin-top: 2.5em;
}