@import 'colors';
@import 'nav';
@import 'bars';
@import 'portfolio';
@import 'form';
@import 'email';
@import 'bio';
@import 'social';
@import 'header';
@import 'process';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $text;
  line-height: 1.7em;
  color: $darkgrey;
  margin: 0;
}


section {
  padding: 2em;
  @media (max-width: 500px) {
    padding: 1em;
  }
}

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  @media (max-width: 700px) {
    width: 90%;
    padding: 1em;
  }
}


.secondary-heading {
  font-family: $title;
  font-size: 4em;
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 900px) {
    padding: 0.4em;
  }

  @media (max-width: 700px) {
    padding: 0.2em;
    font-size: 3em;
  }

  @media (max-width: 500px) {
    padding: 0.2em;
    font-size: 2em;
  }

}

//Intro Section

.intro {
  background-color: $white;
}

.introtext {
  color: $red;
  margin-bottom: 1em;

  @media (max-width: 400px) {
    padding: 0.4em;
    font-size: 1em;
  }
}
