@import 'colors';

.portfolio {
    background-color: $lightgrey;
}

.portfolio-title {
  color: $white;
}

.portfolio-cont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
  padding: 0 3rem;

  img {
    height: 20em;
    width: 15em;
    object-fit: cover;
}
}
